PUBLIC_SITE_URL=https://kervanheat.com
PUBLIC_GA4_ID=
PUBLIC_CLARITY_ID=
RESEND_API_KEY=
MAILCHANNELS_DKIM_DOMAIN=
MAILCHANNELS_DKIM_SELECTOR=mailchannels
MAILCHANNELS_DKIM_PRIVATE_KEY=
TG_BOT_TOKEN=
TG_CHAT_ID=
MAIL_TO=sales@kervanheat.com
MAIL_FROM=noreply@kervanheat.com
PHONE_WA=905XXXXXXXXX
PHONE_DISPLAY=+90 XXX XXX XX XX
